 <div class= "photo-grid">
  <div class = "outer-div1">
    <div class="inner-div1">
      <a href="http://space-maker.herokuapp.com" target="_blank">
      <div class="link">
      </div>
      </a>
    </div>
  </div>
  <div class = "outer-div2">
    <div class="inner-div2">
    <a href="http://space-maker.herokuapp.com" target="_blank">
      <div class="link">
      </div>
      </a>
    </div>
  </div>
  <div class = "outer-div3">
    <div class="inner-div3">
      <a href="http://www.your-weekender.com" target="_blank">
      <div class="link">
      </div>
      </a>
    </div>
  </div>
  <div class = "outer-div4">
    <div class="inner-div4">
      <a href="http://www.your-weekender.com" target="_blank">
      <div class="link">
      </div>
      </a>
    </div>
  </div>

</div>
