 <div class= "photo-grid">
  <div class = "photo1">
   <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img1"
  </div>
  <div class = "photo2">

  <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img2"

  </div>
  <div class = "photo3">

  <% link_to 'https://www.your-weekender.com',target: "_blank", class: "photo-img3"

  </div>
  <div class = "photo4">

  <% link_to 'https://www.your-weekender.com',target: "_blank", class: "photo-img4"

  </div>
</div>
