 <div class= "photo-grid">
  <div class = "outer-div1">
    <div class="inner-div1">
    <%= link_to '', 'www.your-weekender.com' %>
   </div>
 </div>
 <div class = "outer-div2">
    <div class="inner-div2">

   </div>
 </div>
 <div class = "outer-div3">
    <div class="inner-div3">

   </div>
 </div>
 <div class = "outer-div4">
    <div class="inner-div4">

   </div>
 </div>

</div>
