 <div class= "photo-grid">
      <div class = "photo1">
         <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img1"  do %>
         <%= image_tag 'spacemaker.png' %>
         <% end %>
      </div>
      <div class = "photo2">

          <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img2"  do %>
            <%= image_tag 'spacemaker2.png'%>
          <% end %>

      </div>
      <div class = "photo3">

          <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img3"  do %>
            <%= image_tag 'weekender1.png' %>
          <% end %>

      </div>
      <div class = "photo4">

          <% link_to 'https://space-maker.herokuapp.com',target: "_blank", class: "photo-img4" do %>
            <%= image_tag 'weekender3.png'%>
          <% end %>

      </div>
    </div>
