.photo-grid{
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-colums:50% 50%;
  grid-template-rows: 50% 50%;

}

.outer-div1{
  height: 100%;
  width: 100%;
  // border: solid 1px red;
  grid-row: 1/ span 1;
  grid-column: 1/ span 1;
  height: 100%;
  overflow: hidden;

}

.outer-div2{
  height: 100%;
  width: 100%;
  // border: solid 1px black;
  grid-row: 1/ span 1;
  height: 100%;
  overflow: hidden;
}


.outer-div3{
   height: 100%;
  width: 100%;
  // border: solid 1px blue;
  grid-row: 2/ span 1;
  grid-column: 1/ span 1;
  height: 100%;
  overflow: hidden;
}

.outer-div4{
  height: 100%;
  width: 100%;
  // border: solid 1px green;
  grid-row: 2/ span 1;
  grid-column: 2/ span 1;
  height: 100%;
  overflow: hidden;
}


.inner-div1
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: image-url("spacemaker.png");
}
.inner-div1:hover
{
  transform: scale(1.2);
}

.inner-div2
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: image-url("spacemaker2.png");
}
.inner-div2:hover
{
  transform: scale(1.2);
}

.inner-div3
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: image-url("weekender1.png");
}
.inner-div3:hover
{
  transform: scale(1.2);
}

.inner-div4
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: image-url("weekender3.png");
}
.inner-div4:hover
{
  transform: scale(1.2);
}

.link{
  height: 100%;
  width: 100%;
  a{
  height:100%;
  width:100%;
  border: 1px solid black;
  background-size:cover;
  }
}
